#postlist div {
    border-bottom: solid 1px #D3D3D3;
}
#postlist p {
    color: #999999;
}
#postlist div p a {
    color: #999999;
}
#postlist > a {
    font-size: 20px;
    font-weight: bold;
}
#postlist div > a {
    font-size: 20px;
    font-weight: bold;
}