.contentsWall {
    background-color: #FFF;
    max-width: 998px;
    margin: 0 auto;
    border: 50px;
    filter: drop-shadow(0px 2px 3px #666);
}
.contentsIn {
    padding: 30px;
}
.contentsIn a {
    color: #222222;
    text-decoration: none;
}
.postlists div {
    border-bottom: solid 1px #D3D3D3;
}
.postlists p {
    color: #999999;
}
.postlists div p a {
    color: #999999;
}
.postlists > a {
    font-size: 20px;
    font-weight: bold;
}
.postlists div > a {
    font-size: 20px;
    font-weight: bold;
}