body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display:none;
}
#contents {
    height: calc(100vh - 100px);
}
ul {
    padding: 0;
}
form {
    margin: 0 auto;
    width: 99%;
}
form input {
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    filter: drop-shadow(0px 1px 1px #A9A9A9);
    margin-bottom: 5px;
}
form textarea {
    resize: none;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    filter: drop-shadow(0px 1px 1px #A9A9A9);
}
button {
    margin: 10px;
    width: 10%;
}
form .title {
    height: 5vh;
    font-size: 24px;
}
form .title:focus {
    filter: drop-shadow(0px 2px 2px #00BFFF);
}
form .tag {
    height: 3vh;
}
form .tag:focus {
    filter: drop-shadow(0px 1px 21x #00BFFF);
}
form .text {
    height: 66vh;
}
form .text:focus {
    border: solid 1px #DCDCDC;
    filter: drop-shadow(0px 1px 1px #A9A9A9);
}