{% extends 'registration/base.html' %}

{% block title %}
MyPage
{% endblock title %}

{% block titleh1 %}
MyPage
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'blog:post' %}">>Post</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <p>ログイン中のユーザー:{{ username }}(admin)</p>
    {% else %}
        <p>ログイン中のユーザー:{{ username }}(user)</p>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock user %}

{% block contentsIn %}
    <h1>Blog投稿一覧</h1>
    {% for postlist in postlists %}
        <a href="{% url 'blog:detail' pk=postlist.pk %}">{{ postlist }}</a><br>
    {% endfor %}
    <h1>Portfolio連絡履歴</h1>
    {% for contactlist in contactlists %}
        <a href="{% url 'portfolio:detail' pk=contactlist.pk %}">{{ contactlist }}</a><br>
    {% endfor %}
    <h1>アカウント管理</h1>
    <a href="{% url 'username_change' pk=username.pk %}">パスワード変更</a>
    <a href="{% url 'password_change' %}">パスワード変更</a>
{% endblock contentsIn %}