{% extends 'registration/base.html' %}

{% block title %}
Login
{% endblock title %}

{% block titleh1 %}
Login
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'blog:post' %}">>Post</a></li>
    <li><a href="{% url 'signup' %}">>Signup</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <a href="{% url 'mypage' %}"><p>ログイン中(admin)</p></a>
    {% else %}
        <a href="{% url 'mypage' %}"><p>ログイン中(user)</p></a>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock user %}

{% block buttontext %}
ログイン
{% endblock buttontext %}