{% extends 'registration/base.html' %}

{% block title %}
ContactDetail
{% endblock title %}

{% block titleh1 %}
ContactDetail
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <a href="{% url 'mypage' %}"><p>ログイン中(admin)</p></a>
    {% else %}
        <a href="{% url 'mypage' %}"><p>ログイン中(user)</p></a>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock  %}

{% block contentsIn %}
<h1>{{ contact }}</h1>
<p>{{ contact.text }}</p>
<p>{{ contact.timestamp }}</p>
<form method="POST">
    {% csrf_token %}
    <button type="submit" name="edit" onclick="{% url 'portfolio:edit' pk=contact.pk username=contact.name %}">編集</button></a>
    <button type="submit" name="del" onclick="return confirm("本当に削除しますか？");"">消去</button>
</form>
{% endblock contentsIn %}