{% extends 'registration/base.html' %}

{% block title %}
ContactDetail
{% endblock title %}

{% block titleh1 %}
ContactDetail
{% endblock titleh1 %}

{% block contentsIn %}
<div id="contactdetail">
    <h1>{{ contact }}</h1>
    <p>{{ contact.text }}</p>
    <p>{{ contact.timestamp }}</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="edit" onclick="{% url 'portfolio:edit' pk=contact.pk username=contact.name %}">編集</button></a>
        <button type="submit" name="del" onclick="return confirm("本当に削除しますか？");">消去</button>
    </form>
</div>
{% endblock contentsIn %}