{% extends 'blog/base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block titleh1 %}
Blog
{% endblock titleh1 %}

{% block contentsIn %}
<div id="blog">
    <h1>最新記事</h1>
    {% for postlist in postlists %}
        <div>
            <a href="{% url 'blog:detail' pk=postlist.pk author=postlist.author %}">{{postlist}}</a>
            <p>by <a href="{% url 'blog:userpostlist' author=postlist.author %}">{{postlist.author}}</a>　作成:{{postlist.created_date|timesince}}前　最終更新:{{postlist.update_date|timesince}}</p>
        </div>
    {% endfor %}
    {% if postlists|length == 10 %}
        <a href="{% url 'blog:list'%}">全て見る</a>
    {% endif %}
</div>
{% endblock contentsIn %}
