{% extends 'blog/base.html' %}
{% load markdown_extras %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/postdetail.css' %}">
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}
PostDetail
{% endblock title %}

{% block titleh1 %}
PostDetail
{% endblock titleh1 %}

{% block contentsIn %}
<div id="postdetail">
    <div class="postdata">
        <a>{{ post.author }}</a>
        <p>Last Update:{{ post.update_date }}</p>
    </div>
    <div class="postcontents">
        <h1>{{ post }}</h1>
        <ul>
            {% for tag in post.tag %}
                <li><a>{{tag}}</a></li>
            {% endfor %}
        </ul>
        <div id="content">{{ post.text|markdown|safe }}</div>
    </div>
    {% if post.author == username %}
        <form method="POST" novalidate>
                {% csrf_token %}
            <button type="submit">編集</button>
        </form>
    {% endif %}
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true,
            flowChart       : true,
            sequenceDiagram : true,
        });
        $(".reference-link").each(function (i,obj) {
            console.log(obj)
        })
    })
    </script>
</div>
{% endblock contentsIn %}