{% extends 'blog/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/postlist.css' %}">
{% endblock stylesheet %}

{% block title %}
PostList
{% endblock title %}

{% block titleh1 %}
PostList
{% endblock titleh1 %}

{% block contentsIn %}
<div id="postlist">
    <h1>{{ author }}の記事一覧</h1>
    {% for postlist in postlists %}
        <div>
            <a href="{% url 'blog:detail' pk=postlist.pk author=postlist.author %}">{{postlist}}</a>
            <p>by <a>{{postlist.author}}</a>　{{postlist.update_date|timesince}}前</p>
        </div>
    {% endfor %}
</div>
{% endblock contentsIn %}