#contents {
    margin-top: 100px;
    background-color: #F5F5F5;
}
.contentsIn {
    display: flex;
    flex-direction: column;
}
.contentsTop {
    padding-top: 40vh;
    padding-bottom: 40vh;
    text-align:center;
}
.comment {
    text-align:center;
}