html {
    overflow-y: scroll;
}
body {
    font-family: 'Lato',
    'Noto Sans JP',
    'ヒラギノ角ゴ ProN',
    'Hiragino Kaku Gothic ProN',
    'メイリオ',
    Meiryo;
    margin: 0;
}
h2 {
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3.2rem;
}
h3 {
    display: flex;
    align-items: center;
}
h3::before,
h3::after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}
h3::before {
    margin-right: 1rem;
}
h3::after {
    margin-left: 1rem;
}
#portfolio-top {
    color: #000; /*文字色*/
    display: flex;
    flex-direction: column;
}
header {
    z-index: 1;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    width: 100%;
    height: 100px;
    position:fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.55);
    color: #FFF;
    min-width: 1002px;
    filter: drop-shadow(0px 2px 3px #666);
}
header h1 {
    font-family: 'Noto Sans JP';
    padding-left: 50px;
}
.headerIn {
    z-index: 1;
    min-width: 1000px;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.headerIn ul {
    margin: auto;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.headerIn li {
    display: inline;
    margin-right: 100px;
    list-style: none;
    display: inline;
}
.headerIn a {
    color: #FFF;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.headerIn a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FFF;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.headerIn a:hover::after {
    transform: scale(1, 1);
}
.slide-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color:#75C2FF;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#contents {
    margin-top: 100px;
}
.contents-header {
    position: relative;
}
.contents-header a{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.icon-arrow {
    width: 40px;
    object-fit: cover;
    bottom: 10px;
}
#about {
    text-align:center
}
.about-img {
    height: 90vh;
    /* 画像ファイルの指定 */
    background-image: url(./imgs/about.jpg);
  /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    position: relative;
}
.about-img div {
    border: 4px solid #464646;
    width: 90%;
    height: 80%;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    position: relative;
    text-align:center
}
#my-info {
    display: flex;
    flex-direction: column;
    margin: 120px;
}
.my-name {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.my-name div{
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.my-name h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
.my-name img {
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
}
#my-info h1::after {
    content: 'YUTA SAIKAWA';
    font-size: 20px; /*2倍サイズ*/
    display: block; /*改行するように*/
}
#work {
    text-align:center
}
.work h2::before,
.work h2::after {
    content: "";
    border-top: 3px solid #000;
    flex-grow: 1;
    margin: 0 10px;
}
.work-img {
    height: 90vh;
    /* 画像ファイルの指定 */
    background-image: url(./imgs/pythoncode.jpg);
  /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    position: relative;
}
.work-img div {
    border: 4px solid #464646;
    width: 90%;
    height: 80%;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    position: relative;
}
#my-works {
    display: flex;
    flex-direction: column;
    margin: 120px;
}
#my-works div img {
    width: 500px;
    object-fit: cover;
}
#contact {
    text-align:center
}
.contact-img {
    height: 90vh;
    /* 画像ファイルの指定 */
    background-image: url(./imgs/pythoncode.jpg);
  /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    position: relative;
}
.contact-img div {
    border: 4px solid #464646;
    width: 90%;
    height: 80%;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    position: relative;
}
#my-contact {
    display: flex;
    flex-direction: column;
    margin: 120px;
}
input {
    width: 600px;
    border-radius: 5px;
}
textarea{
    resize: none;
    width: 600px;
    height: 140px;
    border-radius: 5px;
}
footer {
    text-align: center;
    top: 500px
}
.footerIn {
    background-color: rgba(0, 0, 0, 0.55);
    filter: drop-shadow(0px 2px 3px #666);
    border-top: 2px solid #999999;
    color: #FFF;
    height: 50px;
}