#blog div {
    border-bottom: solid 1px #D3D3D3;
}
#blog p {
    color: #999999;
}
#blog div p a {
    color: #999999;
}
#blog > a {
    font-size: 20px;
    font-weight: bold;
}
#blog div > a {
    font-size: 20px;
    font-weight: bold;
}