{% extends 'blog/base.html' %}

{% block title %}
blog
{% endblock title %}

{% block titleh1 %}
Blog
{% endblock titleh1 %}

{% block user %}
    {% if username.id != None %}
        {% if username.is_superuser == 1%}
            <a href="{% url 'mypage' %}"><p>ログイン中(admin)</p></a>
        {% else %}
            <a href="{% url 'mypage' %}"><p>ログイン中(user)</p></a>
        {% endif %}
        <a href="{% url 'logout' %}">ログアウト</a>
    {% endif %}
{% endblock user %}

{% block contents %}
<h1>最新記事</h1>
<div class="postlists">
    {% for postlist in postlists %}
        <div>
            <a href="{% url 'blog:detail' pk=postlist.pk %}">{{postlist}}</a>
            <p>by {{postlist.author}}　{{postlist.update_date|timesince}}前
        </div>
    {% endfor %}
    {% if postlists|length == 10 %}
        <a href="{% url 'blog:list'%}">全て見る</a>
    {% endif %}
</div>
{% endblock contents %}
