{% extends 'blog/base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block titleh1 %}
Blog
{% endblock titleh1 %}

{% block contentsIn %}
<div id="blog">
    <h1>最新記事</h1>
    {% for postlist in postlists %}
        <div>
            <a href="{% url 'blog:detail' pk=postlist.pk author=postlist.author %}">{{postlist}}</a>
            <p>by <a>{{postlist.author}}</a>　{{postlist.update_date|timesince}}前</p>
        </div>
    {% endfor %}
    {% if postlists|length == 10 %}
        <a href="{% url 'blog:list'%}">全て見る</a>
    {% endif %}
</div>
{% endblock contentsIn %}
