{% extends 'blog/base.html' %}

{% block title %}
PostDetail
{% endblock title %}

{% block titleh1 %}
PostDetail
{% endblock titleh1 %}

{% block contentsIn %}
<div class="postdata">
    <a>{{ post.author }}</a>
    <p>Last Update:{{ post.update_date }}</p>
</div>
<h1>{{ post }}</h1>
<p>{{ post.markdown }}</p>

{% if post.author == username %}
    <form method="POST" novalidate>
            {% csrf_token %}
        <button type="submit">編集</button>
    </form>
{% endif %}
{% endblock contentsIn %}