{% extends 'blog/base.html' %}

{% block title %}
PostDetail
{% endblock title %}

{% block titleh1 %}
PostDetail
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'blog:post' %}">>Post</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <a href="{% url 'mypage' %}"><p>ログイン中のユーザー:{{ username }}(admin)</p></a>
    {% else %}
        <a href="{% url 'mypage' %}"><p>ログイン中のユーザー:{{ username }}(user)</p></a>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock  %}

{% block contents %}
<h1>{{ post }}</h1>
<p>{{ post.text }}</p>
<p>{{ post.author }}</p>
{% endblock contents %}