{% extends 'blog/base.html' %}

{% block title %}
PostList
{% endblock title %}

{% block titleh1 %}
PostList
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'blog:post' %}">>Post</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <a href="{% url 'mypage' %}"><p>ログイン中(admin)</p></a>
    {% else %}
        <a href="{% url 'mypage' %}"><p>ログイン中(user)</p></a>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock  %}

{% block contents %}
<div class="postlists">
    {% for postlist in postlists %}
        <div>
            <a href="{% url 'blog:detail' pk=postlist.pk %}">{{postlist}}</a>
            <p>by {{postlist.author}}　{{postlist.update_date|timesince}}前
        </div>
    {% endfor %}
</div>
{% endblock contents %}