{% extends 'blog/base.html' %}

{% block title %}
Post
{% endblock title %}

{% block titleh1 %}
Post
{% endblock titleh1 %}

{% block headerli %}
    <li><a href="{% url 'top' %}">>Top</a></li>
    <li><a href="{% url 'blog:home' %}">>Blog</a></li>
    <li><a href="{% url 'portfolio:home' %}">>Portfolio</a></li>
{% endblock headerli %}

{% block user %}
    {% if username.is_superuser == 1%}
        <a href="{% url 'mypage' %}"><p>ログイン中(admin)</p></a>
    {% else %}
        <a href="{% url 'mypage' %}"><p>ログイン中(user)</p></a>
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>
{% endblock user %}

{% block contents %}
<form method="POST" novalidate>
    <ul>
        {% csrf_token %}
        {{ form.as_ul}}
    </ul>
    <button type="submit">送信</button>
</form>
{% endblock contents %}
