{% extends 'blog/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/post.css' %}">
{% endblock stylesheet %}

{% block title %}
Post
{% endblock title %}

{% block titleh1 %}
Post
{% endblock titleh1 %}

{% block contents %}
<form method="POST" novalidate>
    <ul>
        {% csrf_token %}
        {{ form.as_ul}}
    </ul>
    <button type="submit">投稿</button>
</form>
{% endblock contents %}

{% block footer %}
{% endblock footer %}