#mypage h1 {
    display: flex;
    align-items: center;
}
#mypage h1::before,
#mypage h1::after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}
#mypage h1::before {
    margin-right: 1rem;
}
#mypage h1::after {
    margin-left: 1rem;
}